html {
    overscroll-behavior: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color-after);
}

.page {
    width: 100%;
    margin: 0 auto;
    max-width: var(--page-width);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media all and (min-width: $med) {
        padding: var(--global-padding);
    }
}

header,
main {
    border: 1px solid var(--bg-color-after);
    background-color: rgba(255, 255, 255, 0.9);
    //box-shadow: 0 0 1rem var(--body);
}

header {
    width: 100%;
    padding: var(--global-padding);
    margin-bottom: var(--global-margin);

    @media all and (min-width: $med) {
        max-width: 300px;
        margin-right: var(--global-margin);
        margin-bottom: 0;
    }
}

main {
    flex: 1;
}

summary {
    position: relative;
    padding-left: 44px;
    cursor: default;
}

summary::marker {
    display: none;
    content: '';
}

summary:after {
    background-image: url('/assets/icons/list.svg');
    content: '';
    color: var(--body);
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -10px;
    height: 40px;
    width: 40px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

details[open] summary:after {
    background-image: url('/assets/icons/cross.svg');
    background-size: 40px 40px;
}

summary:hover:after {
    background-color: var(--primary-hover);
    background-image: url('/assets/icons/list-white.svg');
}

details[open] summary:hover:after {
    background-image: url('/assets/icons/cross-white.svg');
}