html {
    overscroll-behavior: none;
}

body {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--bg-color-after);
}

.page {
    width: 100%;
    margin: 0 auto;
    max-width: var(--page-width);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    @media all and (min-width: $med) {
        padding: var(--global-padding);
    }
}

header,
main {
    background-color: var(--body-bg);
}

main.intro {
    background: transparent;
}

header {
    width: 100%;
    padding: var(--global-padding);
    margin-bottom: var(--global-margin);

    @media all and (min-width: $med) {
        max-width: 300px;
        margin-right: var(--global-margin);
        margin-bottom: 0;
    }
}

main {
    flex: 1;
}

.page-title {
    display: block;
    position: relative;
    padding-left: 44px;
    cursor: default;
}

.page-title:after {
    background-image: var(--icon-title);
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: -10px;
    height: 40px;
    width: 40px;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-color: var(--primary);
}
