@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@200&family=Fraunces:ital,opsz,wght@0,9..144,200;0,9..144,600;1,9..144,200;1,9..144,600&display=swap');

html {
    font-size: 18px;

    @media all and (min-width: $med) {
        font-size: 20px;
    }
}

/*
    body font declaration
*/
body {
    font-family: Fraunces, Garamond, serif;
    font-size: 1rem;
    font-weight: 200;
    color: var(--body);
}

/*
    headers
*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: Fraunces, Garamond, serif;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, .h1 {
    font-size: 1.72rem;
    font-weight: 700;
    font-style: italic;

}

h2, .h2 {
    font-size: 1.46rem;
}

h3, .h3 {
    font-size: 1.3rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
}

p {
    margin: 0.5rem 0;
}

.typography {
    padding: var(--global-padding);

    p {
        margin: 1rem 0;
        line-height: 1.6;
    }
}

/*
    links
*/
a {
    color: var(--primary);
}

a:hover,
a:focus,
a:active {
    color: var(--primary-hover);
}

a:focus {
    outline: 1px dashed;
}

small, .small {
    font-size: smaller;
}

header h1,
header .h1 {
    margin-bottom: -0.9rem;
}

header small.h5 {
    font-size: 0.73rem;
    font-style: italic;
}

.typography p.inverted {
    color: var(--body-inverted);
    background-color: var(--primary-hover);
    position: relative;
    z-index: 1;
    padding: 1rem 0;
    margin: 2rem 0;

    a {
        color: var(--body-inverted);

        &:hover,
        &:focus {
            color: var(--body);
        }
    }

    &:before {
        content: '';
        position: absolute;
        background-color: var(--primary-hover);
        width: calc(100% + 2rem);
        height: calc(100% + 20px);
        top: -10px;
        left: -1rem;
        transform: skewY(-1deg);
        z-index: -1;
    }
}
