@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Fraunces:ital,wght@1,600&display=swap');

html {
    font-size: 18px;

    @media all and (min-width: $med) {
        font-size: 20px;
    }
}

/*
    body font declaration
*/
body {
    font-family: Commissioner, Avenir, Geneva, sans-serif;
    font-size: 1rem;
    color: var(--body);
}

.typography {
    padding: var(--global-padding);
}

/*
    headers
*/
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
    font-family: Fraunces, serif;
    font-weight: 600;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1, .h1 {
    font-size: 1.72rem;
}

h2, .h2 {
    font-size: 1.46rem;
}

h3, .h3 {
    font-size: 1.3rem;
}

h4, .h4 {
    font-size: 1.1rem;
}

h5, .h5 {
    font-size: 1rem;
}

p {
    margin: 0.5rem 0;
}

/*
    links
*/
a {
    color: var(--primary);
}

a:hover,
a:focus,
a:active {
    color: var(--primary-hover);
}

a:focus {
    outline: 1px dashed;
}

small, .small {
    font-size: smaller;
}

header h1,
header .h1 {
    margin-bottom: -0.9rem;
}

header small.h5 {
    font-size: 0.73rem;
}
