@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300&family=Fraunces:ital,wght@1,600&display=swap');

body {
	font-family: 'Commissioner', 'Avenir', Verdana, Geneva, sans-serif;
	font-size: 1em;
	color: #38513c;
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgb(52,40,65);
	margin-left: 0;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

@media all and (min-width: 850px) {
	.bg {
		background: url('../images/shark-flip.jpg');
		background-size: cover;
		background-position: center;
	}
}

.bg:before,
.bg:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width:  100%;
	height: 100%;
}

.bg:after {
	background: rgb(52,40,65);
	background: linear-gradient(9deg, rgb(0, 0, 0) 0%, rgb(52, 40, 65) 20%, rgb(34, 193, 195) 160%);
	opacity: 0.97;
 	animation:  bgOpacity 20s infinite alternate;
}

.bg:before {
	background: rgb(245,241,108);
	background: linear-gradient(175deg, rgba(245,241,108,1) 0%, rgba(52,40,65,1) 75%);
	opacity: 0.7;
}

@keyframes bgOpacity {
 	0% {opacity: 0.97;}
    20% {opacity: 0.9}
    40% {opacity: 0.85}
    60% {opacity: 0.95}
    80% {opacity: 0.75}
    100% {opacity:  0.85}
}

h1, h2, h3, h4, h5, h6, small {
	font-family: 'Fraunces', serif;
	font-weight: 600;
	font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0.5rem 0;
}

h1 {
	font-size: 2.2em;
	margin-bottom: -0.25em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.7em;
}

a {
	display: inline-block;
	color: #38513c;
	text-decoration:none;
	border-bottom: 2px solid transparent;
}

a:hover, a:focus, a:active {
	/*color: #599363;*/
	color: #167AAC;
	border-bottom: 2px solid #167AAC;
}

.page {
	width: 100%;
	margin: 0 auto;
	max-width: 1400px;
}

ul.menu  {
	list-style: none;
	font-size:0.9em;
	padding: 0;
}

.menu .show-on-hover {
	display: none;
}

.menu li:hover .show-on-hover {
	display: block;
}

header {
	width: calc(100% - 4em);
	padding: 2em 2em 1em;
	border: 1px dotted;
	background-color: white;
	box-sizing: border-box;
	margin: 2em auto;
}

@media all and (min-width: 850px) {
	header {
		max-width: 300px;
		margin: 2em;
	}
}
