ul.menu {
    list-style: none;
    font-size: 0.85rem;
    padding: 0;
}

.menu .show-on-hover {
    display: none;
}

.menu li {
    margin-bottom: 0.5rem;
}

.menu li:hover .show-on-hover {
    display: block;
}

.menu li a {
    display: block;
    text-decoration: none;

    &:hover,
    &:focus {
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 2px solid;
    }
}

.menu p.h2 {
    margin-bottom: 0;
}