.books {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.books {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.book {
    width: calc(100% / 2 - 1rem);
    padding-bottom: var(--global-padding);

    @media all and (min-width: $sml) {
        width: calc(100% / 3 - 0.75rem);
    }

    @media all and (min-width: $med) {
        width: calc(100% / 2 - 0.5rem);
    }

    @media all and (min-width: $ml) {
        width: calc(100% / 3 - 0.75rem);
    }

    @media all and (min-width: $lge) {
        width: calc(100% / 4 - 1rem);
    }
}

.book picture {
    background: var(--primary-lighter);
    height: 200px;
}

.book img {
    margin: 0 auto;
    max-height: 100%;
}

p.book__text {
    margin-top: 0.5rem;
}

.book__title {
    font-weight: bold;
}

.filter {
    margin-right: var(--global-margin);
    margin-bottom: var(--global-margin);
    position: relative;
    display: inline-block;
}

.filter__button {
    border-radius: 0;
    min-width: 200px;
    padding: 0.25rem 1.5rem;

    svg {
        position: absolute;
        height: 0.5rem;
        top: calc(50% - 0.25rem);
        right: 0.5rem;
        fill: var(--body-inverted);
    }

    &:hover svg,
    &:focus svg {
        fill: var(--body);
    }

    &[aria-expanded='true'] svg {
        transform: rotate(180deg);
    }
}

ul.filter__options {
    list-style-type: none;
    margin: 0;
}

.filter__options {
    position: absolute;
    z-index: 1;
    background: var(--body-bg);
    color: var(--body);
    padding: 0.5rem;
    width: 200px;
    border: 1px solid var(--body);
    border-top: none;
    box-sizing: border-box;
    box-shadow: 1px 10px 10px var(--primary-lighter);
}

.filter__options label {
    margin-left: 0.25rem;
}
