<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="{{ meta }}">
        <title>{{ title }}</title>

        {% include '../includes/critical/theme.njk' %}

        <script defer src="../../assets/js/site.js"></script>

    </head>
    <body class="loading">

        <div class="bg"></div>

        <div class="page">
                
                {% include '../includes/header.njk' %}

                {% if content %}

                    {% include '../includes/main.njk' %}

                {% endif %}

        </div>
    </body>
</html>