<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" href="../../assets/icons/favicon/favicon.ico" sizes="32x32">
        <link rel="icon" href="../../assets/icons/favicon/favicon.svg" type="image/svg+xml">
        <link rel="apple-touch-icon" href="../../assets/icons/favicon/apple-touch-icon.png">
        <link rel="manifest" href="../../assets/icons/favicon/manifest.webmanifest">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta name="description" content="{{ meta }}">
        <title>{{ meta }}</title>

        {% include '../includes/critical/theme.njk' %}

        <script defer src="../../assets/js/site.js"></script>

        {% if title === 'Virtual Bookshelf' %}
            <script defer src="../../assets/js/readingList.js"></script>
        {% endif %}

    </head>
    <body>

        <noscript>
            <style>
                body {
                    opacity: 1;
                }

                .requires-js {
                    display: none;
                }
            </style>
        </noscript>

        <div class="bg"></div>

        <div class="page">
                
                {% include '../includes/header.njk' %}

                {% if content %}

                    {% include '../includes/main.njk' %}

                {% endif %}

        </div>
    </body>
</html>