<!DOCTYPE html>
<html>
    <head>
        <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon'/ >
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{{ title }}</title>

        {% include '../includes/critical/theme_' + theme + '.njk' %}

    </head>
    <body class="theme-dark">
        <div class="bg"></div>

        <div class="page">
                
                {% include '../includes/header.njk' %}
                

                {% if content %}

                    {% include '../includes/main.njk' %}

                {% endif %}

        </div>
    </body>
</html>