<header class="header">

    <a href="/" class="page-title" title="Home">
        {% if content %}
            <p class="h1">Ed Millington</p>
        {% else %}
            <h1>Ed Millington</h1>
        {% endif %}
        <small class="h5">Front-end developer</small>
    </a>

    {% include '../includes/nav.njk' %}

    <ul class="small secondary-menu">
        <li>
            <a href="mailto:mail@edmill.co.uk">mail@edmill.co.uk</a>
        </li>
        <li>
            <a href="https://github.com/mllngtn">github</a>
        </li>
        <li>
            <a href="https://www.instagram.com/eggmilkinto/">instagram</a>
        </li>
    </ul>

    <label for="js-theme-picker" class="small">
        <b>Theme:&nbsp;&nbsp;</b>
        <select id="js-theme-picker" class="small">
            <option
                selected
                value="theme-blue"
            >
                Deep blue
            </option>
            <option
                value="theme-red"
            >
                Kraken
            </option>
            <option
                value="theme-pink"
            >
                Technicolor yawn
            </option>
            <option
                value="theme-light"
            >
                Simple (light)
            </option>
            <option
                value="theme-dark"
            >
                Simple (dark)
            </option>
        </select>
    </label>

</header>
