<header class="header">
    
    <details>
        <summary>
            {% if content %}
                <p class="h1">Ed Millington</p>
            {% else %}
                <h1>Ed Millington</h1>
            {% endif %}
            <small class="h5">Front-end developer</small>
        </summary>

        {% include '../includes/nav.njk' %}
    </details>
    <p class="small">
        <a href="mailto:mail@edmill.co.uk">mail@edmill.co.uk</a>
        <br/>
        <a href="https://github.com/mllngtn">github</a>
        <br/>
        <a href="https://www.instagram.com/eggmilkinto/">instagram</a>
    </p>

    <label for="theme-select" class="small">
        <b>Theme:&nbsp;&nbsp;</b>
        <select id="theme-select" class="small">
            <option
                selected
                value="technicolor"
            >
                Technicolor
            </option
                value="light"
            >
            <option>
                Muted (light)
            </option>
            <option
                value="dark"
            >
                Muted (dark)
            </option>
        </select>
    </label>

</header>
