<header class="header">
    {% if content %}
        <p class="h1">Ed Millington</p>
    {% else %}
        <h1>Ed Millington</h1>
    {% endif %}
    <small class="h5">Front-end developer</small>

    {% include '../includes/nav.njk' %}

</header>