<nav role="navigation">
    <ul class="menu">
        <li>
            <a href="/" autofocus>
                <p class="h2">
                    Work
                </p>
                <p class="show-on-hover">
                    what have I done?
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/about">
                <p class="h2">
                    About
                </p>
                <p class="show-on-hover">
                    who am I?
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/reading-list">
                <p class="h2">
                    Reading list
                </p>
                <p class="show-on-hover">
                    what have I read?
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/blog">
                <p class="h2">
                    Blog
                </p>
                <p class="show-on-hover">
                    what am I saying?
                </p>
            </a>
        </li>
    </ul>
</nav>