<nav role="navigation">
    <ul class="menu">
        <li>
            <a href="/pages/about-me">
                <p class="h2">
                    About me
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/virtual-bookshelf">
                <p class="h2">
                    Virtual bookshelf
                </p>
            </a>
        </li>
        <li>
            <a href="/assets/ed-millington-cv.pdf" target="blank">
                <p class="h2">
                    CV
                </p>
            </a>
        </li>
    </ul>
</nav>