<nav role="navigation">
    <ul class="menu">
        <li>
            <a href="/pages/about-me">
                <p class="h2">
                    About me
                </p>
                <p class="show-on-hover">
                    who am I?
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/about-this-site">
                <p class="h2">
                    About this site
                </p>
                <p class="show-on-hover">
                    how much fun is 11ty?
                </p>
            </a>
        </li>
        <li>
            <a href="/pages/reading-list">
                <p class="h2">
                    Reading list
                </p>
                <p class="show-on-hover">
                    what am I reading?
                </p>
            </a>
        </li>
    </ul>
</nav>