.theme-dark {
    /*
        Colours
    */
    --body: #fff;
    --primary: var(--body);
    --primary-hover: #aadcf4;
    --body-inverted: #03141d;
    --body-inverted-hover: var(--primary-hover);
    --body-bg: rgba(22, 122, 172, 0.15);

    /*
        background image & gradients
    */
    --bg-img: none;
    --bg-cover: center;
    --bg-before: #03141d;
    --bg-after: #03141d;

    /*
        icons
    */
    --icon-list: url('/assets/icons/list-white.svg');
    --icon-list-hover: url('/assets/icons/list.svg');
    --icon-cross: url('/assets/icons/cross-white.svg');
    --icon-cross-hover: url('/assets/icons/cross.svg');
}

@keyframes bg-opacity {
    0% { opacity: 1; }
}
