.theme-dark {
    /*
        Colours
    */
    --body: #fff;
    --primary: var(--body);
    --primary-hover: #0e5071;
    --body-inverted: #fff;
    --body-inverted-hover: var(--primary);
    --body-bg: rgba(22, 122, 172, 0.15);

    /*
        background image & gradients
    */
    --bg-img: none;
    --bg-cover: center;
    --bg-before: #03141d;
    --bg-after: #03141d;

}

@keyframes bg-opacity {
    0% { opacity: 1; }
}
