@import './site/site';

:root {
    /*
        Colours
    */
    --body: #340c2b;
    --primary: var(--body);
    --primary-hover: #CF30AA;
    --body-inverted: #fff;
    --body-inverted-hover: #f5dac9;
    --body-bg: rgba(255, 255, 255, 0.85);
    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/lobsters-sm.jpg');
    --bg-cover: bottom;
    --bg-before: linear-gradient(356deg, #a14f1e 0%, #f07171 75%);
    --bg-after: linear-gradient(356deg, #d54ab5 0%, #e6a37b 50%, #e27fca 120%);

    /*
        icons
    */
    --icon-list: url('/assets/icons/list.svg');
    --icon-list-hover: url('/assets/icons/list-white.svg');
    --icon-cross: url('/assets/icons/cross.svg');
    --icon-cross-hover: url('/assets/icons/cross-white.svg');
}

@keyframes bg-opacity {
    0% { opacity: 0.97; }
    20% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.95; }
    80% { opacity: 0.75; }
    100% { opacity: 0.85; }
}
