.theme-light {
    /*
        Colours
    */
    --body: #06283a;
    --primary: var(--body);
    --primary-hover: #167aac;
    --body-inverted: #fff;
    --body-inverted-hover: var(--primary);
    --body-bg: rgba(22, 122, 172, 0.1);
    --intro-text: var(--body);
    --intro-hover: var(--primary-hover);

    /*
        background image & gradients
    */
    --bg-img: none;
    --bg-cover: center;
    --bg-before: #e7f2f8;
    --bg-after: #e7f2f8;

    /*
        icons
    */
    --icon-list: url('/assets/icons/list.svg');
    --icon-list-hover: url('/assets/icons/list-white.svg');
    --icon-cross: url('/assets/icons/cross.svg');
    --icon-cross-hover: url('/assets/icons/cross-white.svg');

}

@keyframes bg-opacity {
    0% { opacity: 0.5; } 
}
