@import './site/site';

:root {
    /*
        Colours
    */
    --body: #342e3b;
    --primary: var(--body);
    --primary-hover: #167aac;
    --body-inverted: #fff;
    --body-inverted-hover: var(--primary);
    --body-bg: rgba(255, 255, 255, 0.85);
    --intro-text: var(--body-bg);
    --intro-hover: var(--body-inverted);

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/shark-flip.jpg');
    --bg-cover: center;
    --bg-before: linear-gradient(175deg, #f5f16c 0%, #342841 75%);
    --bg-after: linear-gradient(9deg, #000 0%, #342841 20%, #22c1c3 160%);

    /*
        icons
    */
    --icon-list: url('/assets/icons/list.svg');
    --icon-list-hover: url('/assets/icons/list-white.svg');
    --icon-cross: url('/assets/icons/cross.svg');
    --icon-cross-hover: url('/assets/icons/cross-white.svg');

}

@keyframes bg-opacity {
    0% { opacity: 0.97; }
    20% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.95; }
    80% { opacity: 0.75; }
    100% { opacity: 0.85; }
}
