@import './site/site';

:root {
    /*
        Colours
    */
    --body: #392727;
    --body-inverted: #fff;
    --primary: var(--body);
    --primary-hover: #9e2237;

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/shark-flip.jpg');
    --bg-cover: center;
    --bg-color-before: red;
    --bg-gradient-before: linear-gradient(9deg, pink 0%, #5f4141 100%);
    --bg-color-after: #58131f;
    --bg-gradient-after: linear-gradient(175deg, #58131f 20%, #ff9e00 135%);
}
