@import './site/site';

:root {
    /*
        Colours
    */
    --body: #332d32;
    --primary: var(--body);
    --primary-hover: #CF30AA;
    --body-inverted: #fff;
    --body-inverted-hover: #f5dac9;

    /*
        background image & gradients
    */
    --bg-img: url('/assets/images/lobsters-sm.jpg');
    --bg-cover: bottom;
    --bg-color-before: #CF30AA;
    --bg-gradient-before: linear-gradient(356deg, #a14f1e 0%, #f07171 75%);
    --bg-color-after: #e27fca;
    --bg-gradient-after: linear-gradient(175deg, #e6a37b 0%, #e27fca 75%, #af6cf5 160%);

}

@keyframes bg-opacity {
    0% { opacity: 0.97; }
    20% { opacity: 0.9; }
    40% { opacity: 0.85; }
    60% { opacity: 0.95; }
    80% { opacity: 0.75; }
    100% { opacity: 0.85; }
}
