@import './site/site';

:root {
    /*
        background image & gradients
    */
    --bgImg: url('/assets/images/victim-2.jpg');
    --bgCover: center;
    --bgColorBefore: red;
    --bgGradientBefore: linear-gradient(9deg, red 0%, yellow 100%);
    --bgColorAfter: #58131f;
    --bgGradientAfter: linear-gradient(175deg, #58131f 15%, #ff9e00 125%);
}
