.theme-dark {
    /*
        Colours
    */
    --body: #ddd;
    --primary: var(--body);
    --primary-hover: #fff;
    --body-inverted: #03141d;
    --body-inverted-hover: var(--primary-hover);
    --body-bg: rgba(22, 122, 172, 0.15);
    --intro-text: var(--body);
    --site-icon: var(--body-inverted);

    /*
        background image & gradients
    */
    --bg-img: none;
    --bg-cover: center;
    --bg-before: #03141d;
    --bg-after: #03141d;
}

@keyframes bg-opacity {
    0% { opacity: 1; }
}
